h1 {
     font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

.canva-padding {
    padding: 20px 10px 0px 0;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

span {
    font-family: 'Times New Roman', Times, serif;
}