.parallax-container {
    height: 200px;
}

.container-height {
    height: 100px;
}

.font-family {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-height2 {
    height: 200px;
}