h2 {
    color: #ffebee;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ef9a9a;
}

h6 {
    color: #ffebee;
    font-weight: normal;
    font-family:'Times New Roman', Times, serif
}

.font-weight {
    font-weight: bolder;
}

h4 {
    font-family:'Times New Roman', Times, serif
}

p {
    font-family:'Times New Roman', Times, serif;
    color: #ffebee;
}

a {
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
}

.canva-padding {
    padding: 1px 0px 0px 0;
}

.parallax-container {
    height: 300px;
}

.parallax-height {
    height: 190px;
}

.fixed {
    position: fixed;
    bottom: 0px;
    width: 0%;
    
}

.font {
    font-family: 'Courier New', Courier, monospace;
}

.font2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}